body{
  background-color: beige;
}

:root{
  --verde1: rgb(87, 115, 60);
  --verde2: rgb(126, 168, 85);
}
#menu-bar{
  background-color: var(--verde2);
  width: 95%;
  height: 7vh;
  margin-left: 2.5%;
  margin-top: 3vh;
  border-radius: solid, 50px;
  border: solid var(--verde1);
  border-radius: 50px;
}
#bike-menu{
  position: relative;
  background-color: beige;
  width: 102%;
  height: 120%;
  margin-left: -20%;
  margin-top: -0.5%;
  animation-duration: 2s;
  animation-name: deslize;
  animation-fill-mode: forwards;
}
@keyframes deslize{
  from{
    margin-left: -20%;
  }
  to{
    margin-left: -102.3%;
  }
}
#bike-menu img{
  height: 200%;
  margin-top: -2.8%;
  margin-left: 100.3%;
}
#menu-nav{
  width: 70%;
  list-style: none;
  display: flex;
  margin-top: -4.2%;
  margin-left: 14%;
  justify-content: space-between;
  font-size: 120%;
  font-weight: bold;
  color: white;
}
#perfil-btn img{
  width: 10px;
}
